{% extends 'equipment/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<body>
  {% block pagecontent %}

  <section class="sample-page d-flex align-items-center justify-content-center min-vh-100 bg-light">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
          <div class="card shadow-lg">
            <form method="POST" class="p-4" action="/signup/">
              {% csrf_token %}
              
              <div class="mb-3">
                <label for="fullname" class="form-label">Full Name</label>
                <input required type="text" class="form-control" id="fullname" name="fullname" autocomplete="given-name">
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input required type="email" class="form-control" id="email" name="email" autocomplete="email">
              </div>

              <div class="mb-3">
                <label for="userId" class="form-label">ID</label>
                <input required type="number" class="form-control" id="userId" name="userId" autocomplete="off">
              </div>

              <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <select class="form-select" name="role" autocomplete="off">
                  <option value="student" selected>Student</option>
                  <option value="hod">Head of Department</option>
                  <option value="lecturer">Lecturer</option>
                  <option value="technician">Lab technician</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input required type="password" class="form-control" id="password" name="password" autocomplete="new-password">
              </div>

              <div class="mb-3">
                <label for="pass2" class="form-label">Confirm Password</label>
                <input required type="password" class="form-control" id="pass2" name="pass2" autocomplete="current-password">
              </div>

              <div class="text-center">
                <input type="submit" class="btn btn-primary w-100" value="Sign up!">
              </div>
            </form>

            <p class="text-center mt-3 mb-3">Already have an account? <a href="/login/">Sign in</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
</body>
</html>
