{% extends 'equipment/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<body>
  {% block pagecontent %}


<section class="sample-page">
<div class="container"  data-aos="fade-up" data-aos-delay="100">
    <div class="row"> 
        <div class="col-lg-12 col-md-12 mx-auto bg-light p-5">
            <div class="card shadow mb-4">
                <h2>Pending HOD Approvals</h2>
                {% for request in requests %}
                    <p>{{ request.student.username }} requested {{ request.equipment.name }}</p>
                    <form method="POST" action="{% url 'approve_request' request.id %}">
                        {% csrf_token %}
                        <!--<input name="request_id" value="{{ request.id }}"> -->
                        <button type="submit">Approve</button>
                    </form>
                {% empty %}
                    <p>No pending approvals.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

        </section>
        {% endblock %}
    </body>
</html>

