<!DOCTYPE html>
<html lang="en">
    
    <body>
        {% block body %}
        
        <section class="page-section about-heading cta">
            <div class="container"> 
                <h2>Pending Lecturer Approvals</h2>
                {% for request in requests %}
                    <p>{{ request.student.username }} requested {{ request.equipment.name }}</p>
                    <form method="POST" action="{% url 'approve_request' request.id %}">
                        {% csrf_token %}
                        <!--<input name="request_id" value="{{ request.id }}"> -->
                        <button type="submit">Approve</button>
                    </form>
                {% empty %}
                    <p>No pending approvals.</p>
                {% endfor %}
                
            </div>
        </section>
    </body>
    {% endblock %}
</html>


