<!-- {% extends 'equipment/base.html' %}
 {%load static %}  ->when static file (CSS, JavaScript, images, etc are added)


{% block pagecontent %}
-->


{% block body %}
<div class="d-flex justify-content-center align-items-center min-vh-100 bg-white">
    <div class="shadow p-4 bg-body rounded text-black w-100" style="max-width: 400px;">
        <h1 class="">Sign Up</h1>
        <form  method = 'POST' class = "" action="/register/">
                    
            {% csrf_token %} 
            <div class="">
                <label for="fullname" class="form-label">Full Name</label>
                <input required type="text" class="form-control" id="fullname" name="fullname" autocomplete="given-name">
            </div>

            <div class="">
                <label for="email" class="form-label">Email address</label>
                <input required type="email" class="form-control" id="email" name="email" autocomplete="email">
            </div>

            <div class="">
                <label for="id" class="form-label">ID</label>
                <input required type="number" class="form-control" id="id" name="id" autocomplete="off">
            </div> 
            
            <div class="">
                <label for="role" class="form-label">Role</label>
                <select id="role" class="form-select" value="role"  id="role" name="role" autocomplete="off">
                    <option  id="student" name="student" selected>Student</option>
                    <option id="hob" name="hob">Head of Department</option>
                    <option id="lecturer" name="lecturer">Lecturer</option>
                    <option id="technician" name="technician">Lab technician</option>
                </select>
                
            </div>

            <div class="">
                <label for="password" class="form-label">Password</label>
                <input required type="password" class="form-control" id="password" name="password" autocomplete="new-password">
            </div>
            <div class="">
                <label for="pass2" class="form-label">Confirm Password</label>
                <input required type="pass2" class="form-control" id="pass2" name="pass2" autocomplete="current-password">
            </div>    
            
   
        </form> 
        <div class="text-center mt-4">
            <label class="form-label fs-5">Already have an account?</label>
            <br>
            <a href="{% url 'login' %}" class="btn btn-outline-primary w-100 mt-2">Sign In</a>
        </div>
    </div>
</div>
{% endblock %}
