<!DOCTYPE html>
<html lang="en">
    
    <body>
        {% block body %}
        
        <section class="page-section about-heading cta">
            <div class="container"> 
                <div class="about-heading-content">
                    <div class="row">
                      {% for equipment in equipments %}

                        <div class="col-xl-3 col-lg-3 mt-5">
                            <div class="card w-auto h-100">
                                  <p class="">{{equipment.name}}</p>
                                  <p class="">{{equipment.brand}}</p>
                                  <p class="">{{equipment.serial_number}}</p>
                                  <p class="">Available: {{equipment.available}}</p>

                                </div>
                              </div>
                            
                       {%endfor %}  
                    </div>           
                </div>


                <form method="post" action="{% url 'student' %}">
                {% csrf_token %}
                    <select name="equipment_id">
                        {% for equipment in equipments %}
                            <option value="{{ equipment.id }}">{{ equipment.name }} ({{ equipment.brand }})</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Request Equipment</button>
                
                </form>

        
        <!-- <button data-product={{equipment.id}} data-action="" class ="btn btn-primary update-cart">Add to cart</button>  -->
                    
            </div>
        </section>
                 

       {% endblock %}

    </body>
</html>

       