<!DOCTYPE html>
<html lang="en">

<body>
{% block pagecontent %}

    <section class="section profile">
        <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#equipments">Equipments</button>
            </li>

            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#add-equipments"> Add equipment</button>
            </li>

            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#borrow-requests">Borrow Requests </a></button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#pending-approvals">Requests pending approval </a></button>
            </li>

            <!-- <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
            </li> -->

            </ul>

            <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="equipments">
                <h5 class="card-title">Equipments</h5>

                {% for equipment in equipments %}

                    <div class="col-xl-3 col-lg-3 mt-5">
                        <div class="card w-auto h-100">
                                <p class="">{{equipment.name}}</p>
                                <p class="">{{equipment.brand}}</p>
                                <p class="">{{equipment.serial_number}}</p>
                                <p class="">Available: {{equipment.available}}</p>

                            </div>
                            </div>
                    

                    {%endfor %}  
            </div>

            

            <div class="tab-pane fade profile-edit pt-3" id="add-equipments">

                <!-- add-equipments Form -->
                <form method="post" action="technician_dashboard">

                {% csrf_token %}

                <div class="">
                    <label for="name" class="">Equipment name</label>
                    <input required type="text" class="" id="name" name="name" autocomplete="off">
                </div>
                <div class="">
                    <label for="brand" class="">Equipment brand</label>
                    <input required type="text" class="" id="brand" name="brand" autocomplete="off">
                </div>

                <div class="">
                    <label for="serial" class="">Equipment serial number</label>
                    <input required type="text" class="" id="serial" name="serial" autocomplete="off">
                </div>
                <div class="">
                    <input type="submit" class="" value="Add equipment">
                </div>
        
                </form><!-- add-equipments Form -->

            </div>


            <div class="tab-pane fade show active profile-overview" id="borrow-requests">
                <h5 class="card-title">Requests</h5>

                {% for borrow_request in borrow_requests %}

                        <div class="col-xl-3 col-lg-3 mt-5">
                            <div class="card w-auto h-100">
                                <p class="">{{borrow_requests.student.username}}</p>
                                <p class="">{{borrow_requests.equipment.name}}</p>
                                <p class="">{{borrow_requests.requested_at}}</p>
                                <p class="">{{borrow_requests.lecturer_approved}}</p>
                                <p class="">{{borrow_requests.hod_approved}}</p>
                                <p class="">{{borrow_requests.tech_approved}}</p>
                                <p class="">Fully approved: {{borrow_requests.fully_approved}}</p>

                                </div>
                            </div>
                        

                        {%endfor %}  
                </div>

                <div class="tab-pane fade show active profile-overview" id="pending-approvals">
                <h2>Pending Technician Approvals</h2>
                {% for request in requests %}
                <p>{{ request.student.username }} requested {{ request.equipment.name }}</p>
                <form method="POST" action="{% url 'approve_request' request.id %}">
                    {% csrf_token %}
                    <!--<input name="request_id" value="{{ request.id }}"> -->
                    <button type="submit">Approve</button>
                </form>
            {% empty %}
                <p>No pending approvals.</p>
            {% endfor %}



                </div>            

              </div><!-- End Bordered Tabs -->
      </div>
    </section>


  {% endblock %}

</body>
</html>

